<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
      Department of Computer Science
      {% endblock title %}
    </title>
  </head>
  <body>
    {# header #}
    <header>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'people' %}">People</a></li>
        <li><a href="{% url 'programs' %}">Programs</a></li>
        <li><a href="{% url 'research' %}">Research</a></li>
        <li><a href="{% url 'affiliates' %}">Affiliates</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
    </header>

    {# main content #}
    <main>
      {% block main_content %}
      {% endblock main_content %}
    </main>

    {# footer #}
    <footer>
      {% block footer_content %}
      {% endblock footer_content %}
    </footer>
  </body>
</html>
