<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
      Department of Computer Science
      {% endblock title %}
    </title>
  </head>
  <body>
    {# header #}
    <header>
      {% block header_content %}
      {% endblock header_content %}
    </header>

    {# main content #}
    <main>
      {% block main_content %}
      {% endblock main_content %}
    </main>

    {# footer #}
    <footer>
      {% block footer_content %}
      {% endblock footer_content %}
    </footer>
  </body>
</html>
