.affiliatesBox{
	background-color:#392012;
	width:60%;
	height:60%;
<<<<<<< HEAD
		margin-top: 10px;
		margin-bottom: 50px;
	margin: 0 auto;
=======
	margin: 0 auto;
	margin-top: 100 px;
>>>>>>> ddc0216a96113b1e101bcba70c32c5ebff3fee10
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 40px;
	padding-top: 5px;
	border-radius: 10px;
}