.contactBox{
	background-color:#392012;
	width:60%;
	height:60%;
	margin: 0 auto;
		margin-top: 10px;
		margin-bottom: 50px;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 40px;
		margin-top: 10px;
		margin-bottom: 50px;
	padding-top: 5px;
	border-radius: 10px;
}
#Name{
	border-radius: 5px;
	border:0px;
    height:30px;
    font-weight: bold;
    text-align: center;	

}
#msg{
	border:0px;
	border-radius: 5px;
	font-weight: bold;
}

#Email{
	border-radius: 5px;
	border:0px;
    height:30px;
    font-weight: bold;
    text-align: center;	

}
textarea:focus, input:focus{
	outline-color: purple;
}
.Potato{
	border-radius:5px;
	border:0px;
	height:30px;
	width:70px;
	background-color: white;
}
.Potato:hover{
 border-color:black;
 border:1px	solid;
}
