<!DOCTYPE html>
<html>
	<head>
		<title>
			Department of Computer Science
		</title>
		
		<link href="/static/people/css/bootstrap.min.css" rel="stylesheet"/>
		<script src="/static/people/jquery.js"></script>
		<script src="/static/people/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="/static/css/programs_style.css" />
		
		<meta name="viewport" content="width=1024, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="/static/css/Home_styles.css" />
		<link rel="stylesheet" href="/static/css/Home_icarousel.css" />
		<link rel="stylesheet" href="/static/css/Home_demo1.css" />
		
		<link rel="stylesheet" type="text/css" href="/static/css/Home_menu.css">
		<script src="/static/js/Home_jqueryMenu.js"></script>
		<script src="/static/js/Home_functionMenu.js"></script>
		<script type="text/javascript" src="j/static/s/Footer_footer.js"></script>
		
		<style>
			h1 { font-family: Helvetica; font-weight: bold; }
			h3 { font-family: Helvetica; font-size: 13pt; }
		</style>

	</head>
	
	<body>
	<!--Header-->
		<div id="wrap">
			<header>
				<div class="inner relative">
					<a class="logo" href=""><img src="/static/img/logo.png" alt="fresh design web"></a>
					<a id="menu-toggle" class="button dark" href="#"><i class="icon-reorder"></i></a>
					<nav id="navigation">
						<ul id="main-menu">
							<li class="parent"><a href="/">Home</a></li>
							<li class="parent">
								<a href="/about">About</a>
								<ul class="sub-menu">
									<li><a href="">    About</a></li>
									<li><a href="">    Mission</a></li>
									<li><a href="">    Vision</a></li>
									<li><a href="">    Gallery</a></li>
									</li>
								</ul>
							</li>
							<li class="current-menu-item">
								<a href="/people">People</a>
								<ul class="sub-menu">
									<li><a href="">    Faculty</a></li>
									<li><a href="">    Staff</a></li>
									<li><a href="">    Students</a></li>
									</li>
								</ul>
							</li>
							<li class="parent">
								<a href="/programs">Programs</a>
								<ul class="sub-menu">
									<li><a href="">    Bachelors Degree</a></li>
									<li><a href="">    Masters Degree</a></li>
									<li><a href="">    Doctorate Degree</a></li>
									</li>
								</ul>
							</li>
							<li class="parent">
								<a href="/research">Research</a>
								<ul class="sub-menu">
									<li><a href="">    Algorithms and Complexity Laboratory</a></li>
									<li><a href="">    Computer Security Group</a></li>
									<li><a href="">    Computer Vision and Machine Intelligence Group</a></li>
									<li><a href="">    Networks and Distributed Systems Group</a></li>
									<li><a href="">    Service Science and Software Engineering Laboratory</a></li>
									<li><a href="">    Scientific Computer Laboratory</a></li>
									<li><a href="">    Web Science Group</a></li>
									</li>
								</ul>
							</li>
							<li class="parent">
								<a href="/affiliates">Affiliates</a>
								<ul class="sub-menu">
									<li><a href="">    Corporate Donors</a></li>
									<li><a href="">    IGLAP Partners</a></li>
									</li>
								</ul>
							</li>
							<li class="parent"><a href="/contact">Contact Us</a></li>
						</ul>
					</nav>
					<div class="clear"></div>
				</div>
			</header>	
		</div>    
		
	<!--	<div class ="boxContainerAbout"> -->
		<div class="PeopleLeftBox">
			<img src='/static/DCS.png' class="left"/>
			<div class='contain-quick'>
				<h1 class='meh'><font size="3pt">Quick links</font></h1>
					<hr>
					<p class='Quick'>
						<a href="http://www.up.edu.ph/">UP System</a>
					</br>
						<a href="http://upd.edu.ph/">UP Diliman</a>
					</br>
						<a href="http://coe.upd.edu.ph/">UP College of Engineering</a>
					</br>
						<a href="https://crs.upd.edu.ph/">UP CRS</a>
					</br>
						<a href="http://mail.up.edu.ph/">UP Webmail</a>
					</br>
					</p>
			</div>
		</div>

		<div class="PeopleRightBox">
			<img src='/static/UP.png' class="right"/>
			<div class='contain-quick'>
				<h1 class='meh'><font size="3pt">Contact Us</font></h1>
					<hr>
					<p class='Quick'>
						Velasquez St.</br>
						University of the Philippines</br>
						Diliman, Quezon City, Philippines
						1101</br>
						(02)434 3877</br>
						info@dcs.upd.edu.ph</br>
					</p>
			</div>
		</div>
			
	<!--	</div> -->

		<div class='PeopleNavBar'>
			<div class='contain-quick'>
				<h1 class='meh'><font size="3pt">Navigate</font></h1>
					<hr>
					<p class='Quick'>
						<a href="#faculty" class='people'>Faculty</a>
					</br>
					</br>
						<a href="#staff" class='people'>Staff</a>
					</br>
					</br>
						<a href="#student" class='people'>Student</a>
					</br>

					</br>
					</p>
			</div>
		</div>			
		
			



		<!--People Content-->
		<div class = 'programsBox'> 
					<section id = 'faculty'>
						<h1>Faculty</h1><hr>
						<ul><h3>Assistant Professors</h3>
							{% for faculty in faculty_assistant_list %}
								<p style="text-indent: 3em;"><a href="#{{faculty.pk}}" data-toggle="modal">{{faculty.first_name }} {{faculty.last_name }}</a></p>
								
								<div class="modal fade" id="{{faculty.pk}}" tabindex="-1" role="dialog" aria-labelledby="{{faculty.pk}}" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
												<h4 class="modal-title">Faculty Profile</h4>
											</div>
											<div class="modal-body" align="center">
												<img src="{{ MEDIA_URL }}{{faculty.photo}}" width="100%" alt="">
												<h3><p><font color="maroon">{{faculty.first_name}} {{faculty.last_name}}</font></p></h3>
												<h5><font color="gray">{{faculty.position}}</font></h5> 
												<h5><font color="gray">{{faculty.email}}</font></h5>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-primary" data-dismiss="modal">Close Profile</button>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
							</ul>
						
						<ul><h3>Associate Professors</h3>
						{% for faculty in faculty_associate_list %}
							<p style="text-indent: 3em;"><a href="#{{faculty.pk}}" data-toggle="modal">{{faculty.first_name }} {{faculty.last_name }}</a></p>
							
							<div class="modal fade" id="{{faculty.pk}}" tabindex="-1" role="dialog" aria-labelledby="{{faculty.pk}}" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title">Faculty Profile</h4>
										</div>
										<div class="modal-body" align="center">
											<img src="{{ MEDIA_URL }}{{faculty.photo}}" width="100%" alt="">
											<h3><p><font color="maroon">{{faculty.first_name}} {{faculty.last_name}}</font></p></h3>
											<h5><font color="gray">{{faculty.position}}</font></h5> 
											<h5><font color="gray">{{faculty.email}}</font></h5>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-primary" data-dismiss="modal">Close Profile</button>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
						</ul>

						<ul><h3>Instructors</h3>
						{% for faculty in faculty_instructor_list %}
							<p style="text-indent: 3em;"><a href="#{{faculty.pk}}" data-toggle="modal">{{faculty.first_name }} {{faculty.last_name }}</a></p>
							
							<div class="modal fade" id="{{faculty.pk}}" tabindex="-1" role="dialog" aria-labelledby="{{faculty.pk}}" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title">Faculty Profile</h4>
										</div>
										<div class="modal-body" align="center">
											<img src="{{ MEDIA_URL }}{{faculty.photo}}" width="100%" alt="">
											<h3><p><font color="maroon">{{faculty.first_name}} {{faculty.last_name}}</font></p></h3>
											<h5><font color="gray">{{faculty.position}}</font></h5> 
											<h5><font color="gray">{{faculty.email}}</font></h5>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-primary" data-dismiss="modal">Close Profile</button>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
						</ul>
						<hr>
				</section> 
				<section id = 'staff'>
					<h1>Staff</h1><hr>
					{% for staff in staff_list %}
						<p style="text-indent: 3em;"><a href="#staff{{staff.pk}}" data-toggle="modal">{{staff.first_name }} {{staff.last_name }}</a></p>
					
						<div class="modal fade" id="staff{{staff.pk}}" tabindex="-1" role="dialog" aria-labelledby="{{staff.pk}}" aria-hidden="true">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title" id="myModalLabel">Staff Profile</h4>
									</div>
									<div class="modal-body">
										<h3><p align="center"><font color="maroon">{{staff.first_name}} {{staff.last_name}}</font></p></h3>
										<h5 align="center"><font color="gray">Position: {{staff.position}}</font></h5> 
										<h5 align="center"><font color="gray">Room: {{staff.room}}</font></h5>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
					<hr>
				</section> 
				<section id = 'student'>
					<h1>Student</h1><hr>
					{% for student in student_list %}
						<table class="table table-bordered">
							<tbody>
								<tr>
									<td><img src="{{ MEDIA_URL }}{{student.logo}}" height="150" width="150"></td>
									<td><h1>{{student.org_name}}</h1><p>{{student.description | linebreaks}}</p></td>
								</tr>
							</tbody>
						</table>
					{% endfor %}
				</section> 
			</div>
			</div>
			</div>

		<!--People Content-->
		
		
	</body>
	<footer>
		<div class='text1'>Copyright &copy; 2014 Department of Computer Science</div>
		<div class='text2'>Design by <a class='footer' href='www.facebook.com/nikkodeloyola'>Nikko Denson</a> and <a class='footer' href='www.facebook.com/ak.cheng.7'>Alan Cheng</a></div>
	</footer>
	
		<script src="/static/js/Home_jquery-1.7.1.min.js"></script>
		<script src="/static/js/Home_raphael-min.js"></script>
		<script src="/static/js/Home_jquery.mousewheel.js"></script>
		<script src="/static/js/Home_jquery.easing.1.3.js"></script>
		<script src="/static/js/Home_icarousel.js"></script>

	<!--Footer-->
	
</html>