/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	margin: 0;
	padding: 0;
	color: #6e6e6e;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.4em; 
	background-repeat: repeat-x;
	background-position: top;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
@media (min-width: 768px) {
  .sidebar {
	margin-left: -70px;
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 70px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      background-color: #4e0000;
      opacity:0.5;
	font-size: 16px;
  text-align: left;
  color:white;
	
  }
  .sidebar:hover{
    opacity:1;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border  */
  margin-bottom: 20px;
  margin-left: -20px;

}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: white;
      background-color: blue;
}
.nav-sidebar > .active > a {
  color: white;
  background:blue;
  font-weight: bold;
  width:100%;
} 

ul{
  list-style: none;
}
/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
	margin-left: 150px;
  }
}
.main .page-header {
  margin-top: 0;
}


