@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	background-color: #eee;
	background-attachment:fixed;
	background-image: url(../img/3.jpg);
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	margin:0px;
	padding:0px;
	padding-bottom:5px;
}
footer{
	background-color:#333;
	width:100%;
	height:30px;
	position:fixed;
	bottom:0;
	z-index:30;
	position:fixed;
	bottom:0;
	z-index:30;

}

.pad{
	padding-top: 30px;
}

.pad2{
	padding-top: 23px;
}

.rp_pp { 
	margin-bottom: 10px;
	margin-left:20px; 
	padding-bottom: 10px; 
	border-bottom: 1px dotted #ced4dc; 
}

.rp_pp img { 
	float: left;
	margin-right: 15px; 
	border: 3px solid #fff; 
}

.rp_pp p { 
	font-size: 10px; 
}

.cleaner { clear: both }

.box-container {
	width:100%;
	margin-top: -440px;
}

.box, .box-right {
	float: left;
	height:375px;
	z-index: 1000;
	width:185px;
	margin: 1%;
	background-color:#392012;
	border-radius: 10px;
	opacity:0.6;

}

.box-right {
	float:right;
}

.box:hover{
	opacity:1;
}

.box-right:hover{
	opacity:1;
}

hr{
	width:90%;
}
.contain-quick
{
	margin-top:5px;
}


.left{
	margin-left:12px;
	margin-top:50px;
	margin-bottom:10px;
}
.right{
	margin-right:20px;
	margin-top:40px;
	margin-bottom:10px;
}
.meh{
	margin-left:7px;
	margin-bottom:0;
	font-family: Helvetica;
}
.meh1{
	margin-left:40%;
	margin-bottom:0;
	font-family: Helvetica;
}
.what{
margin-bottom:0;
	margin-left:7px;
	font-family: Helvetica;
}
.box1{
	height:375px;
	z-index: 1002;
	width:185px;
	background-color:#392012;
	margin-left:1145px;
	margin-top:20px;
	position: fixed;
	border-radius: 10px;
			opacity:0.6;

}

.box2{
	margin-left:13px;
	height:245px;
	/*z-index: 1002;*/
	width:185px;
	background-color:#392012;
	margin-top:400px;
	position: fixed;
	border-radius: 10px;
	opacity:0.6;

}

.box3{
	list-style: inline;
	/*margin-left:1145px;*/
	height:245px;
	z-index: 1002;
	width:185px;
	background-color:#392012;
	margin-top:400px;
	position: fixed;
	border-radius: 10px;
	opacity:0.6;

}
.box3:hover{
	opacity:1;
}
.box4{
	margin-left:425px;
	height:85px;
	z-index: 1002;
	width:500px;
	background-color:#392012;
	margin-top:10px;
	position: fixed;
	border-radius: 10px;
			opacity:0.6;


}
.box4 a{
	margin-left: 65px;
	margin-top: 10px;
	display:inline-block;
	font-family: Helvetica;
}
.box4:hover{
opacity:1;
}
.Quick{
	margin-left:25px;
	font-size: 12px;
}
.Quick1{
	margin-left:15px;
	font-size:12px;
	margin-top:20px;
}
.box:hover{
	opacity:1;
}
.box1:hover{
	opacity:1;
}
.box2:hover{
	opacity:1;
}
.containme{
	display: inline-block;
	/*height:100px;*/
	z-index: 1002;
	width: 48%;
	background-color:#392012;
	margin: 1%;
	border-radius: 10px;
	opacity:0.6;
}
.About{
	margin-left: 225px;
	width:890px;
	background-color:#392012;
}

.containme-container {
	width: 100%;
	clear: both;
	position: relative;
	margin-top: 5px;
}

.equal{
	margin-left:10px;
	margin-top:10px;
}
.equal1{
	margin-left:10px;
	margin-top:10px;
}

.containme:hover{
			opacity:1;
}

.text1{
	float:left;
	margin-top:9px;
	margin-left:15px;
	font-family:Helvetica;
}
.text2{
	margin-top:9px;
	float:right;
		font-family:Helvetica;
	margin-right:15px;
}
a-	footer{
	color:#e86902;
}
a {
	color: #666;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: white;
}
ol, ul {
	list-style: none;
	padding:0px;
	margin:0px;
}
#wrap {
	margin: 0 auto;
	width:100%;
	height:90px;
background-color: #333;
}

.inner {
	margin: 0 auto;
	max-width: 940px;
	padding: 0 40px;
	background-color: #333;	
}

.relative {	
}

.right {
	float: right;
}

.left {
	float: left;
}

/* HEADER */
header {
	background-color: #333;
	z-index:5000;
	position:fixed;
	width:100%;
}
.logo {
	display: inline-block;
	font-size: 0;
	padding-top:15px;
	background-color: #333;
}
#navigation {
		position: absolute;
	top:30px;
	right: 30px;
	background-color: #333;
	
	
}

#menu-toggle {
	display: none;
	float: right;
}

/* HEADER > MENU */
#main-menu {
	float: right;
	font-size: 0;
	margin: 10px 0;
	background-color: #333;
}

#main-menu > li {
	display: inline-block;
	margin-left: 20px;
	padding: 2px 5px;
}

#main-menu > li.parent {
	background-image: url(../images/plus-gray.png);
	background-size: 7px 7px;
	background-repeat: no-repeat;
	background-position: left center;
}

#main-menu > li.parent > a {
	padding-left: 14px;
}

#main-menu > li > a {
	color: #eee;
	font-size: 14px;
	line-height: 14px;
	padding: 30px 0;
	text-decoration:none;
}

#main-menu > li:hover > a,
#main-menu > li.current-menu-item > a {
	color: #f07201;
}

/* HEADER > MENU > DROPDOWN */
#main-menu li {
	position: relative;
}

ul.sub-menu { /* level 2 */
	display: none;
	left: 0px;
	top: 38px;
	padding-top: 10px;
	position: absolute;
	width: 150px;
	z-index: 9999;
}

ul.sub-menu ul.sub-menu { /* level 3+ */
	margin-top: -1px;
	padding-top: 0;
	left: 149px;
	top: 0px;
}

ul.sub-menu > li > a {
	background-color: #333;
	border: 1px solid #444444;
	border-top: none;
	color: #bbb;
	display: block;
	font-size: 12px;
	line-height: 15px;
	padding: 10px 12px;
}

ul.sub-menu > li > a:hover {
	background-color: #663000; 
	color: white;
}

ul.sub-menu > li:first-child {
	border-top: 3px solid #e86902;
}

ul.sub-menu ul.sub-menu > li:first-child {
	border-top: 1px solid #444;
}

ul.sub-menu > li:last-child > a {
	border-radius: 0 0 2px 2px;
}

ul.sub-menu > li > a.parent {
	background-image: url(../images/arrow.png);
	background-size: 5px 9px;
	background-repeat: no-repeat;
	background-position: 95% center;
}

#main-menu li:hover > ul.sub-menu {
	display: block; /* show the submenu */
}

@media all and (max-width: 700px) {

	#navigation {
		position: static;
		margin-top: 20px;
	}

	#menu-toggle {
		display: block;
	}

	#main-menu {
		display: none;
		float: none;
	}

	#main-menu li {
		display: block;
		margin: 0;
		padding: 0;
	}

	#main-menu > li {
		margin-top: -1px;
	}

	#main-menu > li:first-child {
		margin-top: 0;
	}

	#main-menu > li > a {
		background-color: #333;
		border: 1px solid #444;
		color: #bbb;
		display: block;
		font-size: 14px;
		padding: 12px !important;
		padding: 0;
	}

	#main-menu li > a:hover {
		background-color: #444; 
	}

	#main-menu > li.parent {
		background: none !important;
		padding: 0;
	}

	#main-menu > li:hover > a,
	#main-menu > li.current-menu-item > a {
		border: 1px solid #444 !important;
		color: #fff !important;
	}

	ul.sub-menu {
		display: block;
		margin-top: -1px;
		margin-left: 20px;
		position: static;
		padding: 0;
		width: inherit;
	}

	ul.sub-menu > li:first-child {
		border-top: 1px solid #444 !important;
	}

	ul.sub-menu > li > a.parent {
		background: #333 !important;
	}
}

.aboutBox{
	background-color:#392012;
	width:60%;
	height:60%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 50px;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 40px;
	padding-top: 5px;
	border-radius: 10px;
}

.aboutBox:hover{
	opacity:1;
}

.boxLeftAbout{
	float:left;
	height:375px;
	z-index: 1000;
	width:185px;
	margin: 1%;
	background-color:#392012;
	border-radius: 10px;
	opacity:0.6;
	position:relative;
	
}

.boxLeftAbout:hover{
	opacity:1;
}

.boxRightBox {
	float: right;
	height:375px;
	z-index: 1000;
	width:185px;
	margin: 1%;
	background-color:#392012;
	border-radius: 10px;
	opacity:0.6;
	position:relative;
	
}

.boxRightBox:hover{
	opacity:1;
}

.boxContainerAbout{
	position:fixed;
	width:100%;
}

.boxContainerAbout:hover{
	opacity:1;
}


.ResearchNavBarBoxLeft{
	float:left;
	margin-left:13px;
	height:245px;
	z-index: 0;
	width:185px;
	background-color:#392012;
	margin-top:400px;
	position: relative;
	border-radius: 10px;
	opacity:0.6;

}

.ResearchNavBarBoxLeft:hover{
	opacity:1;
}

.ResearchNavBarBoxRight{
	float:right;
	/*margin-left:1145px;*/
	margin: 1%;
	height:245px;
	z-index: 0;
	width:185px;
	background-color:#392012;
	margin-top:400px;
	position: relative;
	border-radius: 10px;
	opacity:0.6;
}

.ResearchNavBarBoxRight:hover{
	opacity:1;
}


.PeopleNavBar{
	margin-left:13px;
	height:245px;
	z-index: 1002;
	width:185px;
	background-color:#392012;
	margin-top:410px;
	position: fixed;
	border-radius: 10px;
	opacity:0.6;
}
.PeopleNavBar:hover{
	opacity:1;
}

.PeopleLeftBox{
	height:375px;
	z-index: 1000;
	width:185px;
	background-color:#392012;
	margin-left:13px;
	margin-top:10px;
	position: fixed;
	border-radius: 10px;
	opacity:0.6;
}

.PeopleLeftBox:hover{
	opacity:1;
}

.PeopleRightBox{
	height:375px;
	z-index: 1002;
	width:185px;
	background-color:#392012;
	margin-left:1180px;
	margin-top:10px;
	position: fixed;
	border-radius: 10px;
	opacity:0.6;
}

.PeopleRightBox:hover{
	opacity:1;
}