.programsBox{
	background-color:#392012;
	width:60%;
	height:60%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 50px;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 40px;
	padding-top: 5px;
	border-radius: 10px;
}
.Potato{
	color:black;
	height:30px;
	border-radius: 5px;
	border:0px;
	background-color: white;
	font-family: Helvetica;
}
a:hover{
	font-weight: bold;
	color:#333;

}
li{
	list-style-type: circle;
	margin-left: 50px;
}
h1{
	font-size: 24px;
}
.program:hover{
	color:white;
}	
