body{ 
			padding-top: 0px;
			font-family: Verdana, sans-serif;
			background-color: #eee;
		}
		
		@media (min-width: 1200px) {
		  .container {
			width: 1000px;
			margin-left: 10px;
			width: 100%;
			word-wrap: break-word;			

		  }
		}
		/*ul, li, h4, h3, h2, h1, p, #navigation, #content,.section{
			padding:0;
			margin:0;
			list-style:none;
		}*/
		
		#content{
			overflow:hidden;
			width:100%;
			background-color:white;
			position:relative;
			height:100%;
		}
			/*#content h2{
				color:#993333;
				margin:20px 0pt;
			}
			#content a{
				color:#777;
				font-weight:bolder;
				text-decoration:none;
			}*/
		#navigation{
			margin-top: 50px;
			margin-left: -20px;
			float:left;
			width:120px;
			height:100%;
			background-color:#A31919;
		}
			#navigation .sup{
				margin:26px 10px;
				font-size:14px;
			}
				#navigation ul{
					margin:5px 0;
					list-style:circle;
					padding-left:15px;						
				}
				#navigation a{
					color:white;
					font-weight:bolder;
					text-decoration:none;
				}				
				#navigation .sup li{
					margin: 3px 0 !important;
					margin:-4px 0;
					font-size:10px;
				}
				#navigation a.scrolling{
					color:#933;
				}
		.section{
			width:1900px;
			position:relative;
		}
		
			.section .sub{
				position:relative;
				/*float:left;*/
				padding:9px 21px 42px 45px;
				width:567px;
				height:352px;
			}
				.section .sub p{
					width:550px;
					margin:16px 0;
					font-size:85%;
					line-height:1.4em;
				}
				.section .next, .section .prev{
					font-size:18px;
					position:absolute;
					bottom:15px;
					letter-spacing:-2px;
				}
				.section .next{
					right:30px;
				}
				.section .prev{
					left:30px;
				}