<!DOCTYPE html>
<html>
	<head>
		<title>
			Department of Computer Science
		</title>
		<link rel="stylesheet" type="text/css" href="/static/css/Home_menu.css">
		<script src="/static/js/Home_jqueryMenu.js"></script>
		<script src="/static/js/Home_functionMenu.js"></script>
		<script type='text/javascript' src='/static/js/Footer_footer.js'></script>
		
		<meta name="viewport" content="width=1024, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="/static/css/Home_styles.css" />
		<link rel="stylesheet" href="/static/css/Home_icarousel.css" />
		<link rel="stylesheet" href="/static/css/Home_demo1.css" />
		<link rel="stylesheet" href="/static/css/contact_style.css" />
	</head>
	
	<body>
	<!--Header-->
		<div id="wrap">
			<header>
				<div class="inner relative">
					<a class="logo" href=""><img src="/static/img/logo.png" alt="fresh design web"></a>
					<a id="menu-toggle" class="button dark" href="#"><i class="icon-reorder"></i></a>
					<nav id="navigation">
						<ul id="main-menu">
							<li class="parent"><a href="/">Home</a></li>
							<li class="parent">
								<a href="/about">About</a>
								<ul class="sub-menu">
									<li><a href="">    About</a></li>
									<li><a href="">    Mission</a></li>
									<li><a href="">    Vision</a></li>
									<li><a href="">    Gallery</a></li>
									</li>
								</ul>
							</li>
							<li class="parent">
								<a href="/people">People</a>
								<ul class="sub-menu">
									<li><a href="">    Faculty</a></li>
									<li><a href="">    Staff</a></li>
									<li><a href="">    Students</a></li>
									</li>
								</ul>
							</li>
							<li class="parent">
								<a href="/programs">Programs</a>
								<ul class="sub-menu">
									<li><a href="">    Bachelor's Degree</a></li>
									<li><a href="">    Master's Degree</a></li>
									<li><a href="">    Doctorate Degree</a></li>
									</li>
								</ul>
							</li>
							<li class="parent">
								<a href="/research">Research</a>
								<ul class="sub-menu">
									<li><a href="">    Algorithms and Complexity Laboratory</a></li>
									<li><a href="">    Computer Security Group</a></li>
									<li><a href="">    Computer Vision and Machine Intelligence Group</a></li>
									<li><a href="">    Networks and Distributed Systems Group</a></li>
									<li><a href="">    Service Science and Software Engineering Laboratory</a></li>
									<li><a href="">    Scientific Computer Laboratory</a></li>
									<li><a href="">    Web Science Group</a></li>
									</li>
								</ul>
							</li>
							<li class="parent">
								<a href="/affiliates">Affiliates</a>
								<ul class="sub-menu">
									<li><a href="">    Corporate Donors</a></li>
									<li><a href="">    IGLAP Partners</a></li>
									</li>
								</ul>
							</li>
							<li class="current-menu-item"><a href="/contact">Contact Us</a></li>
						</ul>
					</nav>
					<div class="clear"></div>
				</div>
			</header>	
		</div>    
		

		<div class="box">
			<img src='/static/DCS.png' class="left"/>
			<div class='contain-quick'>
				<h3 class='meh'>Quick links</h3>
					<hr>
					<p class='Quick'>
						<a href=''>Up System</a>
					</br>
						<a href=''>Up Diliman</a>
					</br>
						<a href=''>Up College of Engineering</a>
					</br>
						<a href=''>Up Webmail</a>
					</br>
					</p>
				</div>
			</div>
		<div class="box1">
			<img src='/static/UP.png' class="right"/>
			<div class='contain-quick'>
				<h3 class='meh'>Contact Us</h3>
					<hr>
					<p class='Quick'>
			Velasquez St.</br>
			University of the Philippines</br>
			Diliman, Quezon City, Philippines
			1101</br>
			(02)434 3877</br>
			info@dcs.upd.edu.ph</br>
					</p>
				</div>
				</div>
		<!--Contact Content-->
			<div class = 'contactBox'>
			<div class = 'row'>
				<div class = 'col-md-4 content'>
					<h1>Contact Us</h1><hr>
					<form class = 'form-horizontal' method = "post" action="http://dcs.upd.edu.ph/index.php/contact/email" role="form">
						<div class = 'form-group'>
							<label class = 'col-sm-3 control-label' for = 'Name'>Name</label>
							<div class = 'col-sm-9'>

							  <input class="form-control" type = 'text' id = 'Name' name = 'name' placeholder='Name' required></input>

							</div>
						</div>		
						<div class = 'form-group'>
							<label class = 'col-sm-3 control-label' for = 'Email'>Email</label>
							<div class = 'col-sm-9'>

							  <input class="form-control" type = 'email' id = 'Email' name = 'email' placeholder = 'Email' required></input>

							</div>
						</div>
						<div class = 'form-group'>
							<label class = 'col-sm-3 control-label' for = 'Message'>Message</label>
							<div class = 'col-sm-9'>

							  <textarea class="form-control" rows="5" type = 'text' id = 'msg' name = 'msg'required></textarea>

							</div>
						</div>
						<div class = 'form-group'>
							<div class="col-sm-offset-3 col-sm-9">

								<button type="submit" class="Potato">Submit</button>

							</div>
						</div>
					</form>
					<!--<div class = 'social'>
						<img src = "http://dcs.upd.edu.ph/img/fb.png"></img>
						<a href = ''>facebook.com/dcs</a>
					</div>-->
					<div class = 'social'>


						<img src = "http://dcs.upd.edu.ph/img/google.png"/><a href = 'https://plus.google.com/communities/114982607375965229506'>Visit our google community.</a>
					</div>
					<div class = 'social'>
						<img src = "http://dcs.upd.edu.ph/img/twitter.png"/>

						<a href = 'https://twitter.com/upcs'>Visit out twitter page.</a>
					</div>
				</div>
				<div class = 'col-md-8'>
					<img  class="img-responsive" src="http://dcs.upd.edu.ph/img/IMG_0845.png" style="width: 725px; height: 225px">
					<br /><br />
					<iframe width="725" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.ph/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=UP+Department++of+Computer+Science&amp;aq=&amp;sll=14.683961,121.062159&amp;sspn=0.201922,0.308647&amp;ie=UTF8&amp;hq=UP+Department++of+Computer+Science&amp;hnear=&amp;t=m&amp;cid=5525695897160382081&amp;ll=14.662398,121.070881&amp;spn=0.029062,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
				</div>
			</div>
		</div>


		<!--Contact Content-->
		
		
	</body>
	<footer>
		<div class='text1'>Copyright &copy; 2014 Department of Computer Science</div>
		<div class='text2'>Design by <a class='footer' href='www.facebook.com/nikkodeloyola'>Nikko Denson</a> and <a class='footer' href='www.facebook.com/ak.cheng.7'>Alan Cheng</a></div>
	</footer>
	
		<script src="/static/js/Home_jquery-1.7.1.min.js"></script>
		<script src="/static/js/Home_raphael-min.js"></script>
		<script src="/static/js/Home_jquery.mousewheel.js"></script>
		<script src="/static/js/Home_jquery.easing.1.3.js"></script>
		<script src="/static/js/Home_icarousel.js"></script>

		

	<!--Footer-->
	
</html>