{% extends "base.html" %}

{% block main_content %}
  <h1>UP Diliman Department of Computer Science</h1>

  {% for image in carousel_images %}
    <img src="{{ MEDIA_URL }}{{ image.image }}" style="width:480px; height:360px;">
  {% endfor %}

  <h2>Announcements</h2>
  {% for announcement in latest_announcement_list %}
    <a href="/announcements/{{ announcement.pk }}/">{{ announcement.title }}</a>
		<br/>
  {% endfor %}

  <h2>Events</h2>
  {% for event in latest_event_list %}
    <p>{{event.description}}</p>
  {% endfor %}

{% endblock main_content %}
