{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>University of the Philippines Department of Computer Science</title>
	<!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> -->
	
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static "css/templatemo_style.css" %}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
	<link href="{% static "css/templatemo_style.css" %}" rel="stylesheet" type="text/css" />
	<link href="{% static "bootstrap.min.css" %}" rel="stylesheet" type="text/css".>
	<!-- Add jQuery library -->
	<script type="text/javascript" src="{% static "lib/jquery-1.10.1.min.js" %}"></script>

	<!-- Add mousewheel plugin (this is optional) -->
	<script type="text/javascript" src="{% static "lib/jquery.mousewheel-3.0.6.pack.js" %}"></script>

	<!-- Add fancyBox main JS and CSS files -->
	<script type="text/javascript" src="{% static "source/jquery.fancybox.js?v=2.1.5" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "source/jquery.fancybox.css?v=2.1.5" %}" media="screen" />

	<!-- Add Button helper (this is optional) -->
	<link rel="stylesheet" type="text/css" href="{% static "source/helpers/jquery.fancybox-buttons.css?v=1.0.5" %}" />
	<script type="text/javascript" src="{% static "source/helpers/jquery.fancybox-buttons.js?v=1.0.5" %}"></script>

	<!-- Add Thumbnail helper (this is optional) -->
	<link rel="stylesheet" type="text/css" href="{% static "source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" %}" />
	<script type="text/javascript" src="{% static "source/helpers/jquery.fancybox-thumbs.js?v=1.0.7" %}"></script>

	<!-- Add Media helper (this is optional) -->
	<script type="text/javascript" src="{% static "source/helpers/jquery.fancybox-media.js?v=1.0.6" %}"></script>

	<link type="text/css" rel="stylesheet" href="{% static "css/dashboard.css" %}" />
	<link type="text/css" rel="stylesheet" href="{% static "css/ddsmoothmenu.css" %}" />
	
	<script type="text/javascript">
		$(document).ready(function() {
			
			// Set custom style, close if clicked, change title type and overlay color
			$(".fancybox-effects-c").fancybox({
				wrapCSS    : 'fancybox-custom',
				closeClick : false,

				openEffect : 'none',

				helpers : {
					title : {
						type : 'inside'
					},
					overlay : {
						css : {
							'background' : 'rgba(238,238,238,0.85)'
						}
					}
				}
			});

			/*
			 *  Button helper. Disable animations, hide close button, change title type and content
			 */

			$('.fancybox-buttons').fancybox({
				openEffect  : 'none',
				closeEffect : 'none',

				prevEffect : 'none',
				nextEffect : 'none',

				closeBtn  : false,

				helpers : {
					title : {
						type : 'inside'
					},
					buttons	: {}
				},

				afterLoad : function() {
					this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
				}
			});

		});
	</script>
	<style type="text/css">
		.fancybox-custom .fancybox-skin {
			box-shadow: 0 0 50px #222;
		}

		body {
			max-width: 100%;
			margin: 0 auto;
		}
	</style>
	
	<!-- SCROLL PLUGIN 
	<script type="text/javascript" src="{% static "https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script type="text/javascript" src="{% static "./js/jquery.scrollTo.min.js"></script>
	<script type="text/javascript" src="{% static "../jquery.localScroll.js"></script>
	<script type="text/javascript">
		jQuery(function( $ ){
			/**
			 * Most jQuery.localScroll's settings, actually belong to jQuery.ScrollTo, check it's demo for an example of each option.
			 * @see http://flesler.demos.com/jquery/scrollTo/
			 * You can use EVERY single setting of jQuery.ScrollTo, in the settings hash you send to jQuery.LocalScroll.
			 */
			
			// The default axis is 'y', but in this demo, I want to scroll both
			// You can modify any default like this
			$.localScroll.defaults.axis = 'xy';
			
			/**
			 * NOTE: I use $.localScroll instead of $('#navigation').localScroll() so I
			 * also affect the >> and << links. I want every link in the page to scroll.
			 */
			$.localScroll({
				target: '#content', // could be a selector or a jQuery object too.
				queue:true,
				duration:1000,
				hash:true,
				onBefore:function( e, anchor, $target ){
					// The 'this' is the settings object, can be modified
				},
				onAfter:function( anchor, settings ){
					// The 'this' contains the scrolled element (#content)
				}
			});
		});
	</script> -->
	
</head>
<body id="about"><div id="templatemo_header_wrapper"> 
		<!--ito ay ang bar ng nabigasyon-->   
			 <div id="templatemo_menu" class="ddsmoothmenu">
			 
		<div class="container">
					<div class="navbar-collapse collapse">
					 <ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">About</a></li>
						   

						<li class=""><a href="#">People</a></li>
						<li class=""><a href="#">Programs</a></li>
						<li class=""><a href="#">Research</a></li>
						<li class=""><a href="#">Affiliates</a></li>
						<li><a href="#contact">Contact Us</a></li>
					  </ul>
					</div>
				</div>
				<ul>
				</ul>
				<br style="clear: left" />
			</div> <!-- wakas ng templatemo_menu-->
			<div class="cleaner"></div>
	</div>	<!-- wakas ng templatemo_header_wrapper -->

	<div class="container-fluid">
      <div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#about"><font color="orange">About</font></a></li>
            <br>
            <li><a href="#vision"><font color="orange">Vision</font></a></li>
            <br>
            <li><a href="#mission"><font color="orange">Mission</font></a></li>
            <br>
            <li><a href="#gallery"><font color="orange">Gallery</font></a></li>
          </ul>
		</div>
		
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header"><a name="about">About the Department</a></h1>
				<hr>
				<p>The Department of Computer Science is one of the eight departments in the College of Engineering (COE), University of the Philippines Diliman (UPD). the road to establishing the youngest department in COE started in the mid 1970's with the institution of the Master of Engineering in Computer Science (MEnng CS) program, a joint undertaking of the Department of Engineering Sciences (as the lead department), the Department of Electrical Engineering and the Department of Mathematics of the the College of Science.</p>
				<p>In the early 1980's, the MEngg CS program was suspended as the Bachelor in Computer Science (BCS) was instituted. As with the master's program, the BCS program was also a joint undertaking of the ES, EE, and Math departments. An initial batch of 35 shiftees from more than 200 applicants from various colleges in the UPD were admitted into the program in the second semester of AY 1982-1983. Of the 35, 32 finished the course, 12 with latin honors. In this first batch of Computer Science graduates was the 1986 Engineering class valedictorian.</p>
				<p>In August 1988, the BOR approved the renaming of the ES department to 'Department of Engineering and Computer Sciences (ECS)' to reflect the expertise available in the department. Three years later, in August 1991, the ECS was split into two independent departments - taking ES back to its original name (Department of Engineering Sciences) and bringing to life the Department of Computer Science (DCS). The new department took full responsibility of offering the BCS program, which was subsequently renamed Bachelor of Science in Computer Science program.</p>
				<p>In May 1995, twenty years after the institution of the pioneering, but now defunct, MEngg CS program, the BOR approved the institution of a new Master of Science in Computer Science (MSCS) program. Both the BSCS and MSCS program continue to attract some of the best students in UP Diliman.</p>
				<p>As of the end of the seconds semester of AY 2009-2010, the BCS/BSCS program has produced a total of 1191 graduates, 224 with Latin honors: 161 cum laude, 59 magna cum laude and 4 summa cum laude.</p>
				<p>Since its establishment in 1991, seven faculty members have served as DCS chair:</p>
				<ul>
				<li>Prof. Evangel P. Quiwa (October 1991-October 1995)</li>
				<li>Prof. Ma. Veronica M. Tayag (November 1995 - April 1996)</li>
				<li>Dr. Mark J. Encarnacion (May 1996 - March 2000)</li>
				<li>Dr. Jaime D.L. Caro (April 2000 - September 2002)</li>
				<li>Dr. Ronald M. Tungol (October 2002 - May 2005)</li>
				<li>Dr. Cedric Angelo M. Festin (June 2005 - May 2008)</li>
				<li>Dr. Jaime D.L. Caro (June 2008 - April 2011)</li>
				<li>Dr. Adrian Roy L. Valdez (March 2011 - March 2013)</li>
				<li>Dr. Cedric Angelo M. Festin (April 2013 - present)</li>
				</ul>
				<p>Initially located in the College of Engineering Building (Melchor Hall), the Department of Computer Science moved to its new home at the Computer Science and Engineering Library Building ( UP Alumni Engineers Centennial Hall) on Velasquez St., UP Diliman campus, in January 2007.</p>
        </div>
		
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header"><a name="vision">Vision</a></h1>
		  <hr>
			<p>The Department of Computer Science will be a world-class research and teaching institution in the field of Computer Science that serves the interest of the country.</p>
        </div>
		
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header"><a name="mission">Mission</a></h1>
		  <hr>
			<p>The mission of the Department of Computer Science is to produce graduates equipped with the knowledge and skills required for professional careers and advanced studies in computer science, to advance the discipline of computing through internationally-recognized research and development; to foster an environment that promotes academic excellence, professionalism and social responsibility; and to address the needs of education, government and industry through extension projects and continuing education programs.</p>
        </div>
		
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header"><a name="gallery">Gallery</a></h1>
		  <hr>
		  <p>
		  		{% for image in gallery_images %}
				<a class="fancybox-buttons" data-fancybox-group="button" href="/media/{{ image.image }}" title="Lorem ipsum dolor sit amet"><img src="/media/{{ image.image }}" alt="" style="width: 150px; height: 150px" /></a>
		  		{% endfor %}
		   </p>
        </div>
		
	   </div>
	</div>
	
<div id="templatemo_bottom_wrapper">
               

<div id="templatemo_footer_wrapper1"> <!-- wakas ng templatemo_footer_wrapper -->
</div>
<!--ito ay ang simula ng paanan-->

 <div id="templatemo_bottom">
    	<div class="col one_third">
        	<h4><span></span>Navigate</h4>
            <div class="bottom_box">
                <ul class="footer_list">
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">People</a></li>
                    <li><a href="">Programs</a></li>
                    <li><a href="">Research</a></li>
                    <li><a href="">Affiliates</a></li>
                </ul>  
			</div>
        </div>
        <div class="col one_third">
        	<h4><span></span>Quick Links</h4>
            <div class="bottom_box">
                <ul class="twitter_post">
                    <li><a href="http://www.up.edu.ph/">UP System</a></li>
                    <li><a href="http://upd.edu.ph/">UP Diliman</a></li>
                    <li><a href="http://coe.upd.edu.ph/">UP College of Engineering</a></li>
                    <li><a href="https://crs.upd.edu.ph/">UP CRS</a></li>
                    <li><a href="http://mail.up.edu.ph/">UP Webmail</a></li>
                </ul>
			</div>
        </div>
        <div class="col one_third no_margin_right">
        	<h4><span></span>Follow Us</h4>
            <div class="bottom_box">
				<ul class="twitter_post">
					<li>Velasquez St.<br>University of the Philippines<br>Diliman, Quezon City, Philippines</li>
					<li>Tel no.: (02)434 3877</li>
					<li>E-mail address: info@dcs.upd.edu.ph</li>
                </ul>
            </div>
        </div>
        
    	<div class="cleaner"></div>
    </div> <!-- wakas tempatemo_bottom -->
</div> <!-- wakas tempatemo_bottom_wrapper -->
<!--dito ay namamalagi sa kopya ng karapatan-->
<div id="templatemo_footer_wrapper">
    <div id="templatemo_footer">
    	Copyright © 2014 Department of Computer Science | Designed by <a href="https://www.facebook.com/nikkodeloyola" target="_parent">Nikko Denson </a> & <a href="https://www.facebook.com/ak.cheng.7" target="_parent">Alan Kyle</a>
    </div> <!-- wakas templatemo_footer_wrapper -->
</div> 
</body>
</html>