<!DOCTYPE html>
{% load static %}
<html>
   <head>
      <title> R2E2 || Request Details </title>
      <link type = "text/css" rel = "stylesheet" href = "{% static "boxui.css" %}">
   </head>
   <body>
      <div id = "header">
         <p id = "headerTitle">R2E2 : Room Reservation Itu!</p>
         <p id = "headerSub">UP Department of Computer Science</p>
      </div>

      <div id = "main_left">
         <a href = "">
            <div id = "user">
               <p id = "orgname">{{user.username}}</p>
               <p id = "type">System Administrator</p>
            </div>
         </a>
         <a href = "" class = "choice">
            <div><p>List of Users</p></div>
         </a>
          <a href = "/home/reservation_lists" class = "choice">
            <div><p>List of Reservations</p></div>
         </a>
         <a href = "" class = "choice">
            <div><p>Account Details</p></div>
         </a>
         <a href = "/login/" class = "choice">
            <div><p>Log Out</p></div>
         </a>
      </div>
      <div id = "main_right">
         <div id = "appForm"><p>RESERVATION DETAILS</p></div>
         <div class = "division">
            <p class = "description">NAME OF EVENT</p>
            <p class = "textDesc textInput">Applications of Computer Science in PUGE-ness</p>
         </div>
         <div class = "division">
            <p class = "description">ROOM TO BE USED</p>
            <p class = "textDesc textInput">Teaching Laboratory</p>
         </div>
         <div class = "division">
            <p class = "description">DATE</p>
            <p class = "textDesc textInput">Aug-8-2015</p>
         </div>
         <div class = "division">
            <p class = "description">TIME</p>
            <p class = "textDesc textInput">1pm</p>
            <p style = "font-size: 1em; font-family: Nexa Light; color: black; display: inline-block">to</p>
            <p class = "textDesc textInput">5pm</p>
         </div>
         <div class = "division">
            <p class = "description">NUMBER OF PARTICIPANTS</p>
            <p class = "textDesc textInput">50</p>
         </div>
         <div class = "division">
            <p class = "description">PURPOSE</p>
            <p class = "textDesc textInput">To be sjfs asad aduaida asdajg adja.</p>
         </div>
         <div class = "division" style = "   border-bottom: none; display: inline-block">
            <a href = ""> <div class = "button"> APPROVE </div> </a>
            <a href = ""> <div style = "float:left" class = "button"> DISAPPROVE </div> </a>
         </div>
      </div>
   </body>
</html>
