<!DOCTYPE html>
{% load static %}
<html>
   <head>
      <title> R2E2 || Room Reservation Request </title>
      <link type = "text/css" rel = "stylesheet" href = "{% static "boxui.css" %}">
   </head>
   <body>
      <div id = "header">
         <p id = "headerTitle">R2E2 : Room Reservation Itu!</p>
         <p id = "headerSub">UP Department of Computer Science</p>
      </div>

      <div id = "main_left">
         <a href = "">
            <div id = "user">
               <p id = "orgname">{{user.username}}</p>
               <p id = "type">User Type</p>
            </div>
         </a>
         <a href = "" class = "choice">
            <div><p>View Rooms</p></div>
         </a>
          <a href = "" class = "choice">
            <div><p>New Reservation</p></div>
         </a>
         <a href = "" class = "choice">
            <div><p>Status Reservation</p></div>
         </a>
         <a href = "" class = "choice">
            <div><p>Account Details</p></div>
         </a>
         <a href = "/login/" class = "choice">
            <div><p>Log Out</p></div>
         </a>
      </div>
      <div id = "main_right">
         <div id = "appForm"><p>APPLICATION FORM FOR THE USE OF DCS ROOMS</p></div>
         <div class = "division">
            <p class = "description">NAME OF EVENT</p>
            <input type = "text" id = "event" class = "textInput">
         </div>
         <div class = "division">
            <p class = "description">ROOM TO BE USED</p>
            <form action="#" type="get">
              <select data-toggle = "dropdown" class = "dropDown textInput">
                <option value = "-1"> -Select Room-</option>
                <option value="0">CLR 1 (Room)</option>
                <option value="1">CLR 2 (Room) </option>
                <option value="2">TL1 (Teaching Laboratory)</option>
                <option value="3">TL2 (Teaching Laboratory)</option>
                <option value="4">TL3 (Teaching Laboratory)</option>
                <option value="5">ERDT (Large Lecture Hall)</option>
                <option value="6">Exhibit Area</option>
                <option value="7">Conference Room</option>
                <option value="8">Lobby</option>
              </select>
            </form>
         </div>
         <div class = "division">
            <p class = "description">DATE</p>
            <input type = "text" id = "date" class = "textInput">
         </div>
         <div class = "division">
            <p class = "description">TIME</p>
            <input type = "text" class = "time_participants textInput">
            <p style = "font-size: 1em; font-family: Nexa Bold; color: black; display: inline-block">to</p>
            <input type = "text" class = "time_participants textInput">
         </div>
         <div class = "division">
            <p class = "description">NUMBER OF PARTICIPANTS</p>
            <input type = "text" class = "time_participants textInput">
         </div>
         <div class = "division">
            <p class = "description">PURPOSE</p>
            <input type = "text" id = "purpose_text" class = "textInput">
         </div>
           <div class = "division">
            <p class = "description">REMARKS</p>
            <input type = "text" id = "purpose_text" class = "textInput">
         </div>
         <div class = "division" style = "   border-bottom: none">
            <a href = ""> <div class = "button"> SUBMIT </div> </a>
         </div>
      </div>
   </body>
</html>
